<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" style=" display:inline-block;">
        <!-- Links -->
        <ul class="navbar">
            <li class="nav-item">
                <a routerLink="employees" class="nav-link" routerLinkActive="active">Liste des employés</a>
            </li>
            <li class="nav-item">
                <a routerLink="add" class="nav-link" routerLinkActive="active">Ajouter des employés</a>
            </li>
            <li class="nav-item">
                <a routerLink="produits" class="nav-link" routerLinkActive="active">Liste de produits</a>
            </li>
            <li class="nav-item">
                <a routerLink="addP" class="nav-link" routerLinkActive="active">Ajouter des produits</a>
            </li>
        </ul>
    </nav>
</div>

<div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
    <hr>
    <div class="card">
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
    </div>